body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#wrapper{
  display:flex;
  width:100%;
}

#filters{
  background:rgb(239, 237, 145);
  width:20%;
}

#filters-content{
  position: fixed;
  text-align: center;
  width:20%;
}

#menu{
  background:rgb(212, 104, 226);
  width:60%;
}


#cart{
  background:pink;
  width:20%;
}

#cart-content{
  position: fixed;
  text-align: center;
}

#all-items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#item-card{
  width:40%;
  height:400px;
  padding: 1rem;
  border:2px solid rgb(251, 248, 248);
}
/* #all-items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#item-card{
  min-width: 10%;
} */